* {
    margin: 0 auto;
    padding: 0;
}

header {
    background: #03A9F4;
    padding: 15px;
    height: 50px;
    margin-bottom: 20px;
}

article {
    background: #BDBDBD;
    margin-bottom: 20px;
}

body {
    background: #9E9E9E;
    padding: 10px;
}

nav {
    background: #29B6F6;
    order: 1;
    flex: 15%;
}

aside {
    background: white;
    order: 3;
    flex: 15%;
}

#main {
    display: flex;
    flex-direction: row;
}

#artikel-section {
    order: 2;
    flex: 70%;
}